Telethon==1.44.0
telethon-session-sqlalchemy==0.2.16
setuptools==80.9.0
wheel==0.46.1

aiocsv==1.4.1
aiofiles==25.1.0
aiohttp==3.12.15
aiosqlite==0.21.0
arabic_reshaper==3.0.1
beautifulsoup4==4.13.5
catbox-uploader==2.9
cloudscraper==1.2.71
colour==0.1.5

flask==3.1.1
flask_restful==0.3.10
gunicorn==23.0.0
cowpy==1.1.5
DateTime==5.5
emoji==2.14.1
ffmpeg-python==0.2.0
geopy==2.4.1
gitpython==3.1.45

google-api-python-client==2.179.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
googletrans==4.0.2
gtts==2.5.4
hachoir==3.3.0
heroku3==5.2.0
html-telegraph-poster==0.5.0

httpx[http2]==0.28.1
humanize==4.12.3
ipaddress==1.0.23
img2html==0.0.7
jikanpy==4.3.2
justwatch==0.5.1

kvsqlite==0.2.1
lottie==0.7.2
lyricsgenius==3.0.1
markdown==3.8
motor==3.7.1
moviepy==2.2.1
nekos.py==1.1.0
opentele==1.15.1

Pillow==11.3.0
prettytable==3.16.0
psutil==7.0.0
psycopg2-binary==2.9.10
py-tgcalls==2.3.3
pyfiglet==1.0.2
PyGithub==2.7.0
pygments==2.19.2
pylast==6.0.0
pymediainfo==7.0.1
pyquery==2.0.0
pyrogram==2.0.106
pySmartDL==1.3.4

python-barcode==0.15.1
python-dotenv==1.1.1
pytz==2025.2
qrcode==8.2
regex==2025.7.34
requests==2.32.4
search-engine-parser==0.6.8
selenium==4.35.0
spamwatch==0.3.0
speedtest-cli==2.1.3

sqlalchemy-json==0.7.0
